<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
	<header class="header" th:include="fragments/menu :: menu" />

	<div class="col-sm-6 col-sm-offset-3 text-center">
		<div class="list-group">
            <li class="list-group-item active" th:text="#{title.chat.list}"></li>
            <li class="list-group-item" style="text-align-last: justify;" th:each="user : ${users}">
                <a th:href="@{/chat(vendor=${user?.username})}"
                    style="display: block; text-decoration: none;" th:text="${user?.username}"></a>
            </li>
        </div>
    </div>

	<footer>
		<div th:include="fragments/scripts :: general" />
	</footer>
</body>

</html>