<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
	<header class="header" th:include="fragments/menu :: menu" />

	<div class="col-sm-6 col-sm-offset-3 text-center">
		<div class="panel panel-primary" style="height: 100%; width: 900px;">
			<div class="panel-heading">
				<h3 class="panel-title" style="font-size:30px;text-transform: uppercase;" th:text="${vendor}"></h3>
			</div>
			<div class="panel-body" style="overflow-y: scroll; height: 400px;">
				<div th:each="message : ${messages}" class="alert alert-primary" style="background-color: aliceblue;" role="alert">
					<div class="row">
						<div class="col-md-2"> <strong style="font-size:20px;" th:text="${message?.sender.username}  + ':'"></strong></div>
						<div class="col-md-7"><p style="font-size:20px; overflow-wrap: anywhere;" th:text="${message?.text}"></p></div>
						<div class="col-md-3"><p th:text="${#temporals.format(message?.date,'dd/MMM/yyyy HH:mm')}"></p></div>
					</div>
				</div>
			</div>
			<div class="panel-footer" style="background-color: aliceblue;">
				<form class="form-inline my-2 my-lg-0" th:action="@{/chat}" th:object="${form}" method="post" role="form">
					<input type="hidden" id="vendor" name="vendor" th:value="${vendor}"></input>
					<textarea class="form-control mr-sm-2" style="resize:none" rows="3" cols="100" maxlength="200"
						th:field="*{text}" placeholder="Type a message"></textarea>
					<div><button class="btn btn-primary" style="margin-top: 1%;" type="submit">Send</button></div>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div th:include="fragments/scripts :: general" />
	</footer>
</body>

</html>