<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
  </head>
  <body>
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/users/login}" method="post">
      <label for="login">Username</label>:
      <input type="text" id="login" name="login" required="required" autofocus="autofocus" /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" required="required" /> <br />
      <input type="submit" value="Log in" />
    </form>
  </body>
</html>
