<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="fragments/header :: header"/>
    <body>
      <header class="header" th:include="fragments/menu :: menu" />
      <div class="container justify-content-center text-center">
        <form th:action="@{/login}" method="post">
          <h1 class="text-center">Log into Scrollad!</h1>
          <div th:if="${param.error}" class="alert alert-danger" role="alert">    
            Invalid username or password.
          </div>
          <div class="form-group">
              <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" placeholder="Username" value="" />
          </div>
          <div class="form-group">
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="" />
          </div>
          <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Log in" />
          </div>
          <div class="form-group">
              <a href="/signup" class="signup">Create an account</a>
          </div>
          <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.
          </div>
        </form>
      </div>
      <footer>
        <div th:include="fragments/scripts :: general" />
      </footer>
    </body>
  </html>
