<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head th:include="fragments/header :: header"/>
  <body>
    <header class="header" th:include="fragments/menu :: menu" />
    <div class="container justify-content-center text-center">
      <form th:action="@{/logout}" method="POST">
        <h1 class="text-center">Log out</h1>
        
        <div>
            <h3 class="text-center">See you soon</h3>
            <p sec:authentication="name"></p>
      </div>
        <input type="submit" class="btn btn-danger btn-lg btn-block" value="Logout"/>
      </form>
    </div>
    <footer>
      <div th:include="fragments/scripts :: general" />
    </footer>
  </body>
</html>
