<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<body>
	<header class="header" th:include="fragments/menu :: menu" />
	<div class="container d-flex justify-content-center">
		<form th:action="@{/signup}" th:object="${form}" method="post" role="form">
			<h1 class="text-center">Sign Up to Scrollad!</h1>
			<div class="form-group">
				<input type="text" class="form-control" th:field="*{login}" id="username"
					name="username" required autofocus placeholder="Username" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" th:field="*{password}"
					id="password" name="password" required autofocus placeholder="password" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" th:field="*{name}" id="name"
					name="name" required autofocus placeholder="Name" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" th:field="*{firstSurname}"
					id="firstSurname" name="firstSurname" required autofocus
					placeholder="First Surname" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" th:field="*{secondSurname}"
					id="secondSurname" name="secondSurname" autofocus
					placeholder="Second Surname" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" th:field="*{city}" id="city"
					name="city" autofocus required placeholder="City" />
			</div>
			<div class="text-center">
				<input type="submit" class="btn btn-primary btn-lg" value="Sign Up!" />
			</div>
		</form>
	</div>
	<footer>
		<div th:include="fragments/scripts :: general" />
	</footer>
</body>
</html>
