<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  TODO: Add Bootstrap syntax here so it doesn't look so terrible -->
<head>
<title>Sign Up to Scrollad!</title>
</head>
<body>
	<h1>Sign Up</h1>
	<form action="#" th:action="@{/signup}" th:object="${form}"
		method="post" role="form" class="form">
		<label for="username">Username</label>: <input type="text"
			th:field="*{login}" id="username" name="username"
			autofocus="autofocus" /> <br /> <label for="password">Password</label>:
		<input type="password" th:field="*{password}" id="password"
			name="password" /> <br /> <label for="name">Name</label>: <input
			type="text" th:field="*{name}" id="name" name="name"
			autofocus="autofocus" /> <br /> <label for="firstSurname">First
			Surname</label>: <input type="text" th:field="*{firstSurname}"
			id="firstSurname" name="firstSurname" autofocus="autofocus" /> <br />
		<label for="secondSurname">Second Surname</label>: <input type="text"
			th:field="*{secondSurname}" id="secondSurname" name="secondSurname"
			autofocus="autofocus" /> <br /> <label for="city">City</label>: <input
			type="text" th:field="*{city}" id="city" name="city" f
			autofocus="autofocus" /> <br /> <input type="submit"
			value="Sign Up" />
	</form>
</body>
</html>
